@keyframes rotate {
    100% {
        background-position: 20% 50%;
    }
}

.lab-hero-container {
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background-image: url("./low-poly-grid-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: rotate 20s infinite alternate linear;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
}
.lab-hero-titles h1 {
    font-size: 3em;
}

.lab-hero-titles h3 {
    font-size: 1.5em;
}
.neon-text-white {
    color: #ffffff; /* Color base rosado */
    text-shadow: 
      1px 1px 1px #000000, 
      0 0 10px #b5a3a3, 
      0 0 20px #c2b3b3, 
      0 0 30px #a985a9, 
      0 0 40px #bd6bec, 
      0 0 50px #bd6bec, 
      0 0 60px #bd6bec;
  }
.neon-text-pink {
    color: #ffffff; /* Color base rosado */
    text-shadow: 
      0 0 5px #ff00ff, 
      0 0 10px #ff00ff, 
      0 0 20px #ff00ff, 
      0 0 30px #ff00ff, 
      0 0 40px #ff00ff, 
      0 0 50px #ff00ff, 
      0 0 60px #ff00ff;
  }
  .lab-hero-images {
    width: 100%;
  }
  .lab-hero-images img {
    width: 100%;
  }
  

/* MEDIA QUERIES */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .lab-hero-container {
        flex-direction: row;
        justify-content: center;
    
    }
    .lab-hero-titles {
        width: 40%;
    }
    .lab-hero-images {
        width: 40%;
    
      }
      .lab-hero-images img {
        width: 100%;
      }
      .lab-hero-titles h3 {
        font-size: 2em;
    }
}
/* Large devices (laptops/desktops, 980px and up) */
@media only screen and (min-width: 980px) {
    
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}