.container {
  background-color: var(--bg-violeta);
  color: #ffffff;
  padding: 20px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2em;
  font-family: var(--font-spartan);
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 2em;
  margin-bottom: 10px;
  font-family: var(--font-orbitron);
}

.section p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: var(--font-spartan);
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.neonTextWhite {
  color: #ffffff; /* Color base rosado */
  text-shadow: 1px 1px 1px #000000, 0 0 10px #b5a3a3, 0 0 20px #c2b3b3,
    0 0 30px #a985a9, 0 0 40px #bd6bec, 0 0 50px #bd6bec, 0 0 60px #bd6bec;
}
.neonTextPink {
  color: #ffffff; /* Color base rosado */
  text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff,
    0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff;
}
