.container {
    font-family: var(--font-spartan);
    color: #333;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}
