.card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    will-change: transform filter;
    transition: transform filter 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 2em #646cffaa);
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1em;
    color: #777;
}
.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}
