.container {
  padding: 20px;
  background-color: var(--bg-violeta);
  color: #ffffff;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2.5em;
  margin-block: 20px;
}

.header p {
  font-size: 1.2em;
  font-family: var(--font-spartan);
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 2em;
  margin-bottom: 10px;
  font-family: var(--font-orbitron);
}

.section p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: var(--font-spartan);
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.neonTextWhite {
  color: #ffffff; /* Color base rosado */
  text-shadow: 1px 1px 1px #000000, 0 0 10px #b5a3a3, 0 0 20px #c2b3b3,
    0 0 30px #a985a9, 0 0 40px #bd6bec, 0 0 50px #bd6bec, 0 0 60px #bd6bec;
}
.neonTextPink {
  color: #ffffff; /* Color base rosado */
  text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff,
    0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff;
}
.glowOnHover {
  display: grid;
  place-items: center;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: var(--bg-violeta);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: var(--font-spartan);
  font-size: calc(100% + 4px);
  margin-block: 20px;
}

.glowOnHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glowOnHover:active {
  scale: 1.05;
}

.glowOnHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3f136b;
  left: 0;
  top: 0;
  border-radius: 10px;
}
