.section {
    margin-bottom: 40px;
}

.section h2 {
    font-size: 2em;
    color: var(--bg-violeta);
    margin-bottom: 10px;
    font-family: var(--font-orbitron);
}

.section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.map {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: none;
}

@media (max-width: 700px) {
    .map {
        width: 95%;
    }
}